{% load static %}
<html>
<head>
  <title>CRUD - KULDEEP</title>
  <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
 <div class="container mt-5">
  <h2 class="text-center alert alert-danger">Function Base View ModelForm Crud Project</h2>
  {% block content %}{% endblock content %}
 </div>
 <script src="{% static 'enroll/js/jquery.js' %}"></script>
 <script src="{% static 'enroll/js/popper.js' %}"></script>
 <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>
